/* Stylesheet for survey form: */


body {
  background-color: brown;
}

h1#centered {
  color: beige;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}


section {
   background-color: beige;
   width: 80%;
   border-radius: 3em;
   text-align: center;
   margin: auto;
   overflow: auto;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }




select#right {
  margin-left: 2%;
}

select#right_two {
  margin-left: 2%;
}

textarea.to_right {
    margin-left: 2%;
}

input.improv {
  margin-left: 2%;
}

div.inside {
   text-align: left;
  width: 55%;
  margin-right: 7%;
}



p.blue {
  background-color: beige;
  text-align: left; 
  margin-left: 24.5%;
  width: 40%;
  max-height: 10%;
}



div.on_the_left {
  background-color: beige;
  margin-right: 2%;
}

div.on_the_right {
  background-color: beige;
}


div.on_the_left_two {
  background-color: beige;
  text-align: left; 
  margin-left: 24.5%;
  width: 40%;
  max-height: 10%;
}

div.on_the_right_two {
  text-align: left;
  width: 55%;
  margin-right: 7%;
}


 
  
