/* Stylesheet for survey form: */


body {
  background-image: url("images/appetizer-dark-delicious-326279.jpg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   color: white; 

  
}

h1#centered {
  color: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
}


section {
   background: transparent;
   width: 80%;
   border-radius: 3em;
   text-align: center;
   margin: auto;
   overflow: auto;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }




select#right {
  margin-left: 2%;
}

select#right_two {
  margin-left: 2%;
}

textarea.to_right {
    margin-left: 2%;
}

input.improv {
  margin-left: 2%;
}

div.inside {
   text-align: left;
  width: 55%;
  margin-right: 7%;
}



p.blue {
  background: transparent;
  text-align: left; 
  margin-left: 24.5%;
  width: 40%;
  max-height: 10%;
  color: white;
}



div.on_the_left {
 margin-right: 2%;
}

div.on_the_right {
  background-color: white;
}


div.on_the_left_two {
  background: transparent;
  text-align: left; 
  margin-left: 24.5%;
  width: 40%;
  max-height: 10%;
}

div.on_the_right_two {
  text-align: left;
  width: 55%;
  margin-right: 7%;
}


 
  



 
  
